/*通用导航*/

.navtopbg {
	background-color: #eaeaea !important;
	position: relative;
	top: -50px;
	border-bottom: 1px solid #ccc
}

.tag ul {
	padding: 0;
	margin: 0;
}

.tag li {
	margin-top: 13px;
	list-style: none;
	text-align: left;
	padding: 5px 12px;
	color: #989898;
	float: left;
	border: 1px solid #959595;
	margin-right: 3px;
	border-bottom: none;
	cursor: pointer;
}

.tag a {
	color: #8d8d8d;
	text-decoration: none;
}

.tag a:hover {
	color: #333333;
}

.activetag {
	background-color: #FFFFFF;
	border-bottom: none !important;
}

.user-image {
	float: left;
	display: block;
	margin-top: 2px;
}

.userimg {
	width: 21px;
	border-radius: 10px;
	margin-right: 14px;
}

.user-txt {
	font-style: normal;
	font-size: 12px;
}

.user-alarm {
	padding-top: 6px;
	display: block;
	float: left;
	color: #797cb2;
	width: 46px;
	text-align: center;
	margin-right: 1px;
	height: 42px;
	background-color: #cfcfcf;
}

.user-alarm a {
	color: #797cb2;
}

.user-alarm a:hover {
	color: #333333;
}

.tag .icon-right {
	padding-right: 10px;
}

.tag .icon-zd {
	position: relative;
	right: 15px;
	font-size: 20px;
	top: 38px;
}

.tag .icon-x {
	position: relative;
	top: -4px;
	right: -6px;
	color: #6a6a6a;
}

.login {
	float: right;
}


/*.myTabs_width{
	width: 152px !important;
	text-align: center !important;
}
.myTabs_width_lg{
	width: 200px !important;
	text-align: center !important;
}*/

.tab-content a {
	cursor: pointer;
}

h4>a:before,
h4>a.collapsed:before {
	float: left;
	content: "\f054";
	position: relative;
	top: 4px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h4>a.collapsed:before {
	float: left;
	content: "\f078";
}

.classbg {
	background-color: #f5f5f5;
	padding: 6px;
}

.classbg1 {
	background-color: #f5f5f5;
	padding: 6px;
}

.left-nav {
	color: #FFFFFF;
}

.icon {
	padding-right: 20px;
}

.a1 {
	color: #FFFFFF;
}

.a1:hover {
	color: #FFFFFF!important;
}

.a1:focus {
	color: #FFFFFF!important;
}

.table_title {
	border: 1px solid #ccc;
	background-color: #f6f6f6;
}

.activetd {
	background-color: #ebebeb;
}

.active th {
	text-align: center;
}

.bg-title {
	background-color: #607ba4!important;
}

.p-title {
	border-bottom: 1px dashed #ccc;
	font-size: 14px;
	height: 30px;
	line-height: 1.5;
	font-weight: bold;
}

.panel-body-new {
	padding: 8px;
}

.table td {
	border-top: 0 !important;
}

.dropdown {
	right: -64px;
	top: -26px;
}

.inputbg {
	background-color: #ebebeb;
	opacity: 1;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.table th {
	text-align: center;
}

.wenben {
	padding-left: 10px;
}

.branch-name {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: none;
	border: 0;
}


/*工单工作台tab*/

.mytabtr {
	border-bottom: 1px solid red;
}

#myTabs ul li a {
	border: 1px solid #CCCCCC !important;
}

.activetab {
	background-color: #FFFFFF !important;
	border-top: 1px solid #3290d8 !important;
	border-left: 1px solid #3290d8 !important;
	border-right: 1px solid #3290d8 !important;
	color: #a7a7a7!important;
}

.iconjl {
	padding-right: 8px;
}

.blueline {
	border-bottom: 1px solid #3290d8 !important;
}

#myTabs ul li a {
	border-top: 1px solid red !important;
}


/*工单详情*/

.common-bar-bg {
	background-color: #3290d8 !important;
}

.order-title {
	font-size: 16px;
	color: #3290d8;
	padding-bottom: 2px;
}

.rq {
	font-size: 12px;
	padding-left: 16px;
	color: #333333;
}

.border-bian {
	border-bottom: 1px solid #CCCCCC;
}

.pic-orderbg {
	padding-left: 23px;
}

.pic-order {
	width: 74px;
	height: 76px;
}

.fj {
	padding-left: 4px;
	padding-top: 6px;
	height: 36px;
}

.td {
	padding-left: 14px !important;
}
.td i{
	padding-right: 6px;
}
.voice {
	color: #666666;
	font-size: 16px;
	height: 24px;
	line-height: 1.5;
	margin-top: 9px;
	padding-left: 6px;
}


/*工单详情回复*/

.replygb {
	background-color: #607ba4;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold;
}

.clo {
	float: right;
}

.clo i {
	font-style: normal;
	padding-right: 14px;
}

.closen {
	color: #FFFFFF !important;
	padding-top: 8px;
	font-size: 25px;
	display: block;
}

.replytxt {
	margin-top: 16px;
	height: 128px !important;
	overflow: hidden;
	resize: none;
}

.btn-bg {
	padding: 15px;
}

.margin-right {
	margin-right: 10px;
}
.margin-right2 {
	margin-right: 40px;
}
.margin-right3 {
	margin-right: 60px;
}
.searchbg {
	width: 94%;
	float: left;
	margin-top: 4px;
}

.search {
	height: 32px !important;
	width: 98%;
	padding-left: 8px;
}

.sicon {
	z-index: 2;
	font-size: 16px;
	position: absolute;
	top: -1px;
	left: 15px;
	color: #CCC;
}

.tablebg {
	background-color: #ecf0f5 !important;
	padding-top: 10px;
}


/*工单查询*/

.input-wd {
	width: 80px;
}

.font-width2 {
	display: block;
	width: 56px;
	float: left;
}

.font-width4 {
	display: block;
	width: 70px;
	float: left;
}

.font-width5 {
	display: block;
	width: 100px;
	float: left;
}

.font-width6 {
	display: block;
	width: 98px;
	float: left;
}
.font-width10 {
	display: block;
	width: 160px;
	float: left;
}

/*自检公区报事创建工单*/

.tdblue {
	background-color: #98c7eb !important;
	color: #326286;
}

.search-a {
	width: 90%;
	float: left;
	margin-top: 8px;
	border: none;
	height: 26px;
	color: #000000;
}

input[type=search] {
	padding-left: 36px;
}

.chbox {
	padding-left: 10px;
	padding-right: 20px;
}

.modal-dialog-width {
	width: 400px !important;
}

.td-marginleft {
	margin-left: 20px;
}


/*弹窗宽度*/

.modal-dialog-400 {
	width: 400px;
}

.tb-icon {
	font-size: 14px;
	font-style: normal;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 2;
	font-size: 16px;
	position: absolute;
	top: 13px;
	left: 15px;
	color: #CCC;
	padding-left: 10px;
}

.styled-select select {
	background: transparent;
	width: 238px;
	padding: 5px;
	font-size: 12px;
	border: 1px solid #ccc;
	height: 34px;
	-webkit-appearance: none;
	/*for chrome*/
}

.styled-select {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url(../img/co.gif) no-repeat right #FFFFFF;
}

.modal-title-n {
	font-size: 15px;
	color: #333333;
	font-weight: bold;
	padding-top: 10px;
}

.modal-a a {
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}

.modal-a a:hover {
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}

.label_left {
	float: left;
	font-weight: normal !important;
}

.label_right {
	float: left;
	width: 50%;
}

.label_right_date {
	float: left;
	width: 50%;
}

.input-height {
	height: 28px;
	padding: 4px 12px !important;
}

.select-width {
	width: 40%;
}
.select-width2 {
	width: 260px !important;
}
a {
	cursor: pointer
}

.time-div {
	text-align: right;
   	 top: -6px;
    	position: relative;
}

.form-control-padding {
	padding: 0 !important;
	position: relative;
    top: 28px;

}

.s1 {
	float: left;
	width: 47%;
}

.s2 {
	float: left;
	position: relative;
    top: 2px;
}

.form_datetime {
	cursor: pointer;
	position: relative;
	top: 0;
}

.addFavor {
	padding-left: 80px;
}

.photo {
	border-radius: 50%;
	box-shadow: 0 0 20px #793636;
}

.photo:hover {
	box-shadow: 0 0 20px red;
	cursor: pointer
}

.example-image-link {
	display: inline-block;
	margin: 0 10px 20px 10px;
	line-height: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid #eeeeee;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.example-image-link:hover {
	border: 2px solid #3290d8;
}
.active_a{
	color:  white !important;
}
.scroll{
	height:100%;overflow:auto; position: relative;
}

.scroll-y{
	height:300px;overflow-y:auto; position: relative;
}

.btn_width{
	width: !important;
}
.tree-height{
	height: 900px;
	border-right: 1px solid #CECECE;
}
.textarea-width{
	width: 900px;
}
.table-top{
	padding-top: 15px;
}
.zxtable tr:nth-child(odd){background:#FFFFFF;}
.zxtable tr:nth-child(even){background-color: #ebebeb;}

.btn-relative{
	float: right;
    position: relative;
    bottom: 15px;
    padding-right: 10px;
}
.bord-radius{
	border-radius: 10px;
}
.fa-close:hover{
	background-color: #d9534f;
	border-radius: 10px;
	color: #FFFFFF;
}
._border-right{
	border-right: 1px solid #CCCCCC;
}
.table{
	background-color:transparent !important;
}

._padding-left{
	padding-left: 20px;
}
.padding-right{
	padding-right: 20px;
}
.mypage{
	background-color: transparent;
	margin: 20px auto;
}

._border-right{
	border-right: 1px solid #CCCCCC;
}
.table{
	background-color:transparent !important;
}

._padding-left{
	padding-left: 20px;
}
.ban{
	display: none;
}

.bg_mask {
    background: #464642;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    width: 100%;
    z-index: 1050;
}

.loading {
	position: absolute;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	width: 0px;
	height: 0px;
	padding: 15%;
	margin: auto;
}
.tablebg label{
	height: 26px !important;
	line-height: 26px !important;
}
.tablebg span{
	height: 26px !important;
	line-height: 26px !important;
}
.s-icon{
	width: 18px !important;
}
.txt-con{
	padding: 4px 0;
	display: block;
}
.txt-con-commt{
	padding-top: 12px;
	display: block;
}
.yuanyin{
	padding: 0 !important;
}
.zxtable tbody tr:hover{
	background-color: #98c7eb !important;
	color: #326286;
}

.radions{
	padding-right: 4px;
}

.multiselect-selected-text{
	position: absolute;
    top: 2px;
    left: 16px;
}
.caret{
	position: absolute;
    right: 7px;
	
}
.dropdown-menu{
	width: auto !important;
}

.input-group span{
	height: auto !important;
	line-height: auto !important;
}

.ztree li span.button{
	margin-top: 0 !important;
}
