*{margin:0;padding:0}
body{margin:0 auto;font-size:12px;font-family:"微软雅黑",Arial,Helvetica,sans-serif,"宋体";background:#f6f6f6;color:#515151}
form{margin:0;padding:0}
dd,dl,dt,ol,p,td,th,tr,ul{margin:0;padding:0;border:none}
li,ul{list-style:none}
li,ol{list-style:none}
img{border:0;padding:0;margin:0}
a{text-decoration:none;color:#fff}
a:hover{text-decoration:none;color:#fff}
form,h1,h2,h3,h4,h5,h6,h7,h8,iframe,input,span{margin:0;padding:0}
.main-left{width:20%;float:left;height:100%}
.main-right{width:80%;float:left;height:100%}
.radio{height:14px}
#list_table1 .active2{background:#97CBFF;color:#fff}
#searchCriteria .active2{background:#00f;color:#fff}
.active2{background:#97CBFF;color:#fff}
.hov{background:#fff;margin-top:20px;border:#e1e1e1 1px solid;box-shadow:0 0 6px #c6daf8;-moz-box-shadow:0 0 6px #c6daf8;-webkit-box-shadow:0 0 6px #c6daf8}
.hov a{color:#515151;padding:5px;margin:5px;display:inline-block;text-decoration:underline}
.window{width:100%;height:100%;background:#ccc;opacity:.8;filter:alpha(opacity=80);position:absolute;top:0;left:0;display:none}
.ww{width:90%;height:90%;position:absolute;top:5%;left:5%}
#searchCriteria{width:100%;/*overflow:hidden;*/height:auto}
#dataDiv{width:48%;height:100%;float:left}
.input-a{border:#d5d5d5 1px solid;width:100%;height:20px;line-height:20px;overflow:hidden;display:block;float:left}
.input-b{border:#d5d5d5 1px solid;min-width:80px;width:155px;height:22px;line-height:20px;padding-left:3px;overflow:hidden;clear:both}
.button{padding: 4px 10px;
    height: 24px;
    background: none;
    color: #333;
    border: 1px solid #ccc;
    font-size: 14px;}
.query-tab{margin:5px 0;width:100%}
.query-tab .box{width:49%;float:left;height:auto}
.query-tab .baoshitime{min-height:115px}
.box div{float:left;margin-top:10px;height:20px;text-align:center}
.query-tab-key{text-align:justify;min-width:60px;overflow:hidden}
.z-btn-bg{float:right;padding-right:30px;padding-top:18px}
.list{overflow:hidden;padding:0 5px}
.list p{color:#3164b1;height:25px;line-height:25px;font-weight:800}
.list-tab{width:100%;/*table-layout:fixed;*/overflow: visible;border:#e1e1e1 1px solid;border-collapse:collapse;background:#fff}
.list-tab a{color:#3b6fbe;text-decoration:underline}
.list-tab th{background:url(../images/tab_bg.png) repeat-x;height:35px;border-left:#e1e1e1 1px solid;border-bottom:#e1e1e1 1px solid;width:11%}
.list-tab td{height:35px;border:solid 1px #e1e1e1;padding:0 1px;font-size:13px}
.paging{height:40px;line-height:40px;background:#efefef;border-left:#e1e1e1 1px solid;border-bottom:#e1e1e1 1px solid;border-right:#e1e1e1 1px solid;padding:0 10px}
.paging li{float:left}
.paging input{width:30px;margin:0 3px;text-align:center}
.paging img{vertical-align:middle;float:left;margin:13px 5px 0}
.paging a{color:#000}
.main-mov{position:absolute;top:0;right:-40px;width:40px;height:40px;z-index:1000000;text-align:center;line-height:40px;border:1px solid #ccc;border-left:none;border-top:none}
.main-mov:hover{background:#68CFA8}
.main-mov:hover i{color:#fff}
.main-right1{width:100%;/*height:3%*/}
.main-right1 ul{width:100%;height:100%}
.main-right1 .active{background:#3c5376}
.main-right1 li{float:left;position:relative;background:#61799f;padding:0 15px;margin-left:10px;color:#fff;font-weight:700;font-size:12px;margin: 0 5px 8px 5px;}
.main-right1 ul li a{font-size:12px;color:#fff;line-height:20px;height:100%;font-weight:700}
.main-left{position:relative}
.main-left2{display:none;width:100%;height:100%}
.main-left2 ul{width:100%;height:90%}
.main-left2 li{width:100%;height:40px;position:relative}
.main-left2 li i{font-style:normal;float:right;width:100%;height:100%;color:#fff;font-size:20px;line-height:30px;text-align:center}
.main-left2 li i:hover{color:#68CFA8}
.main-left2 li b{display:none;font-style:normal;position:absolute;top:0;right:-100px;width:100px;height:20px;background:#68CFA8;color:#fff;font-size:12px;line-height:20px;text-align:left}
.t-top{width:100%;height:50px;background:#eaeaea}
.t-top .log{float:left;margin:10px 0 0 10px}
.t-top .log img{width:210px}
.t-top .link{float:right;height:50px}
.t-top .link .hycss{float:left;height:28px;line-height:28px;margin-right:20px;display:inline-block;margin:10px 15px 0 0}
.t-top .link-ic{height:50px;overflow:hidden;display:inline-block}
.t-top .link-ic li{height:50px;padding:0 15px;float:left;border-left:#dadada 1px solid;background:#cfcfcf}
.t-top .link-ic li p{height:26px;margin-top:5px;text-align:center}
.t-top .link-ic li span{margin-top:10px;height:22px}
.t-content{width:100%;height:606px}
.log img{width:80%;height:80%;padding-left: 16px;padding-top: 8px;}
#main_center{float:left;width:13px;height:100%;background:#3164b1;text-align:right}
#main_center img{margin-top:300px}
#search1{border-radius:5px}
.t-cont-l{float:left;width:220px;height:100%;position:relative}
.t-cont-r{height:100%;margin-left:234px;overflow:hidden;padding:10px}
.t-r-title{position:relative;display:block;height:40px;line-height:40px;font-size:12px;color:#1268bf;padding-left:3px;border-bottom:#dadada 1px solid;background-position:0 2px}
.t-r-a{color:#fff;position:relative;padding:7px 14px;background:#3164b1}
.t-r-b{position:relative;padding:7px 14px;background:#bdbdbd}
.t-r-cole{position:absolute;right:1px;top:1px}
#tree{width:200px;height:100%}
.a{color:#7FB0C8}
.a:link{color:#7FB0C8;TEXT-DECORATION:none}
.a:visited{color:#7FB0C8;TEXT-DECORATION:none}
.a:hover{color:#fff;TEXT-DECORATION:none}
.white{color:#fff}
.white a:link{color:#fff;TEXT-DECORATION:none}
.white a:visited{color:#fff;TEXT-DECORATION:none}
.white a:hover{color:#73E1F5;TEXT-DECORATION:none}
.close{float:right;clear:right;font-size:12px;font-weight:400;cursor:pointer;padding-right:10px}
.menu{width:220px;height:100%;overflow-y:auto;overflow-x:hidden;background:#424F63;psition:relative}
.menu{scrollbar-face-color:#002537;scrollbar-highlight-color:#002537;scrollbar-shadow-color:#0e6893;scrollbar-3dlight-color:#0e6893;scrollbar-arrow-color:#fff;scrollbar-track-color:#053d58;scrollbar-darkshadow-color:#002537;scrollbar-base-color:#01152a}
.l1{font-size:13px;color:#fff;padding:0 0 0 5px;height:40px;line-height:40px;cursor:pointer;border-bottom:#424F63 1px solid;padding-left:15px;font-family:font-family:"Hiragino Sans GB",PingFang,"Microsoft Yahei","宋体","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif}
.l1 img{vertical-align:middle;margin-top:-5px;padding-right:5px}
.lt1{font-family:"Hiragino Sans GB",PingFang,"Microsoft Yahei","宋体","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;font-size:13px;color:#fff;padding:0 0 0 5px;height:40px;line-height:40px;cursor:pointer;border-bottom:#424F63 1px solid;padding-left:15px}
.menu h2:hover{background:#353F4F;color:#68CFA8}
.slist{display:none;border-bottom:#424F63 1px solid}
.l2{font-size:12px;font-weight:inherit}
.l2 img{vertical-align:middle;padding:0 5px 3px 0}
.l2 a{padding:0 0 0 30px;height:30px;line-height:30px;display:block;color:#fff;font-family:"宋体"；}
.l2 a:hover{color:#68CFA8}
.currentl2 a{color:#f4c712}
.sslist{overflow:hidden;margin:0 0 5px 0;display:none}
.l3 img{vertical-align:middle;padding-right:5px}
.l3 a{height:30px;line-height:30px;display:block;padding-left:40px}
.currentl3 a,.l3 a:hover{background:#3f74c4}
.mo{position:absolute;left:-20px;top:0;z-index:1000}
.t-r-title p{width:40px;height:40px;background:red;float:left}
.footy{margin-top:5px;text-align:center;color:#707070}
.wid{width:1000px;margin:0 auto}
.progressbar_3{background-color:#eee;color:#222;height:16px;width:99%;border:1px solid #bbb;text-align:center;position:relative}
.progressbar_3 .zheng{background:url(../images/jdt.jpg);background-size:cover;height:16px;width:0;position:absolute;left:0;top:0;z-index:10}
.progressbar_3 .chao{background:url(../images/jdt1.jpg);background-size:cover;height:16px;width:0;position:absolute;left:0;top:0;z-index:10}
.progressbar_3 .text{height:16px;position:absolute;left:0;top:0;width:100%;line-height:16px;z-index:100}
/*增加tab标题*/
.tab-title{
    background-color: #FFFFFF;
    padding: 4px 14px;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    position: absolute;
    display: block;
    top: 32px;
    text-align: center;
}
.btn-search{
    padding: 4px 10px;
    height: 24px !important;
    curosr: pointer;
}
.searchbg{
    float: right;
    padding-top: 10px;
    margin-right: 40px;
}