<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		  destroy-method="close" >
		<property name="driverClassName" value="${jdbc_driverClassName}" />
		<property name="url" value="${jdbc_url}" />
		<property name="username" value="${jdbc_username}" />
		<property name="password" value="${jdbc_password}" />
		<!-- 连接池最大使用连接数 -->
		<property name="maxActive">
			<value>20</value>
		</property>
		<!-- 初始化连接大小 -->
		<property name="initialSize">
			<value>1</value>
		</property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait">
			<value>60000</value>
		</property>
		<!-- 连接池最大空闲 -->
		<!--<property name="maxIdle">-->
			<!--<value>20</value>-->
		<!--</property>-->
		<!-- 连接池最小空闲 -->
		<property name="minIdle">
			<value>3</value>
		</property>
		<!-- 自动清除无用连接 -->
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<!-- 清除无用连接的等待时间 -->
		<property name="removeAbandonedTimeout">
			<value>180</value>
		</property>
		<!-- 连接属性 -->
		<property name="connectionProperties">
			<value>clientEncoding=UTF-8</value>
		</property>
	</bean>

	<!-- mybatis文件配置，扫描所有mapper文件 -->
	<bean id="sqlSessionFactory"
		  class="org.mybatis.spring.SqlSessionFactoryBean"
		  p:dataSource-ref="dataSource"
		  >
		<property name="configLocation">
			<value>classpath:spring/mybatis-config.xml</value>
		</property>
		<property name="mapperLocations">
			<list>
				<value>classpath*:mapper/**/*.xml</value>
			</list>
		</property>
	</bean>

	<!-- spring与mybatis整合配置，扫描所有dao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		  p:basePackage="com.qdingnet.pcloud.mapper"
		  p:sqlSessionFactoryBeanName="sqlSessionFactory"/>
	<!--<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
		<!--<property name="mapperInterface" value="mapper.user.UserMapper"></property>-->
		<!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
	<!--</bean>-->
	<!-- 对数据源进行事务管理 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		  p:dataSource-ref="dataSource"/>

    <!--<bean id="aorangeDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"-->
          <!--destroy-method="close">-->
		<!--<property name="driverClass" value="${aorange.jdbc.driver}" />-->
		<!--<property name="jdbcUrl" value="${aorange.jdbc.url}" />-->
		<!--<property name="user" value="${aorange.jdbc.username}" />-->
		<!--<property name="password" value="${aorange.jdbc.password}" />-->
		<!--<property name="maxPoolSize" value="100" />-->
		<!--<property name="minPoolSize" value="1" />-->
		<!--<property name="initialPoolSize" value="1" />-->
		<!--<property name="maxIdleTime" value="1190" />-->
		<!--<property name="preferredTestQuery" value="select 1" />-->
		<!--<property name="checkoutTimeout" value="30000" />-->
		<!--<property name="acquireRetryAttempts" value="3" />-->
		<!--<property name="idleConnectionTestPeriod" value="600" />-->
    <!--</bean>-->
    <!--<bean id="aorangeSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="configLocation" value="classpath:mybatis-config.xml" />-->
        <!--<property name="dataSource" ref="aorangeDataSource" />-->
    <!--</bean>-->
    <!--<bean id="aorangeMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="com.iyunxiao.aorange.dao"/>-->
        <!--<property name="sqlSessionFactoryBeanName" value="aorangeSqlSessionFactory"/>-->
    <!--</bean>-->

</beans>