<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdingnet.pcloud.mapper.billing.ClientChildMapper">
    <resultMap id="BaseResultMap" type="com.qdingnet.pcloud.entity.billing.ClientChild">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CLIENT_ID" property="clientId" jdbcType="VARCHAR"/>
        <result column="CLIENT_NAME" property="clientName" jdbcType="VARCHAR"/>
        <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="BALANCE" property="balance" jdbcType="REAL"/>
        <result column="VERSION_NUM" property="versionNum" jdbcType="INTEGER"/>
        <result column="IS_DEL" property="isDel" jdbcType="TINYINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, CLIENT_ID, CLIENT_NAME, PRODUCT_ID, NAME, BALANCE, VERSION_NUM, IS_DEL, CREATE_TIME, 
    CREATE_USER_ID, UPDATE_TIME, UPDATE_USER_ID, TIMESTAMP
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cd_client_child
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getAllClientChild" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cd_client_child
        where 1
    </select>
    <select id="getClientChildNotDel" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cd_client_child
        where IS_DEL = 0
    </select>
    <select id="getClientChildByClientId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cd_client_child
        where IS_DEL = 0 and CLIENT_ID = #{clientId,jdbcType=VARCHAR}
    </select>
    <select id="getClientChildByClientIdAndProductId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cd_client_child
        where IS_DEL = 0
        and CLIENT_ID = #{0}
        and PRODUCT_ID = #{1};
    </select>
    <select id="getClientChildByClientName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from cd_client_child
        where IS_DEL = 0 and CLIENT_NAME = #{clientName,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cd_client_child
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.qdingnet.pcloud.entity.billing.ClientChild">
    insert into cd_client_child (ID, CLIENT_ID, CLIENT_NAME, 
      PRODUCT_ID, NAME, BALANCE, 
      VERSION_NUM, IS_DEL, CREATE_TIME, 
      CREATE_USER_ID, UPDATE_TIME, UPDATE_USER_ID, 
      TIMESTAMP)
    values (#{id,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{balance,jdbcType=REAL}, 
      #{versionNum,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, 
      #{timestamp,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.qdingnet.pcloud.entity.billing.ClientChild">
        insert into cd_client_child
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="clientId != null">
                CLIENT_ID,
            </if>
            <if test="clientName != null">
                CLIENT_NAME,
            </if>
            <if test="productId != null">
                PRODUCT_ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="balance != null">
                BALANCE,
            </if>
            <if test="versionNum != null">
                VERSION_NUM,
            </if>
            <if test="isDel != null">
                IS_DEL,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="createUserId != null">
                CREATE_USER_ID,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="updateUserId != null">
                UPDATE_USER_ID,
            </if>
            <if test="timestamp != null">
                TIMESTAMP,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="clientId != null">
                #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientName != null">
                #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=REAL},
            </if>
            <if test="versionNum != null">
                #{versionNum,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                #{timestamp,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qdingnet.pcloud.entity.billing.ClientChild">
        update cd_client_child
        <set>
            <if test="clientId != null">
                CLIENT_ID = #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientName != null">
                CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                PRODUCT_ID = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="balance != null">
                BALANCE = #{balance,jdbcType=REAL},
            </if>
            <if test="versionNum != null">
                VERSION_NUM = #{versionNum,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                IS_DEL = #{isDel,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                TIMESTAMP = #{timestamp,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qdingnet.pcloud.entity.billing.ClientChild">
    update cd_client_child
    set CLIENT_ID = #{clientId,jdbcType=VARCHAR},
      CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      BALANCE = #{balance,jdbcType=REAL},
      VERSION_NUM = #{versionNum,jdbcType=INTEGER},
      IS_DEL = #{isDel,jdbcType=TINYINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      TIMESTAMP = #{timestamp,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>