<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdingnet.pcloud.mapper.billing.LogInfoMapper" >
  <resultMap id="BaseResultMap" type="com.qdingnet.pcloud.entity.billing.LogInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACTION" property="action" jdbcType="VARCHAR" />
    <result column="PAYMENT" property="payment" jdbcType="REAL" />
    <result column="CLIENT_CHILD_ID" property="clientChildId" jdbcType="VARCHAR" />
    <result column="PRODUCT_INSTANCE_ID" property="productInstanceId" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="VERSION_NUM" property="versionNum" jdbcType="INTEGER" />
    <result column="IS_DEL" property="isDel" jdbcType="TINYINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR" />
    <result column="TIMESTAMP" property="timestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ACTION, PAYMENT, CLIENT_CHILD_ID, PRODUCT_INSTANCE_ID, STATE, ORDER_ID, VERSION_NUM, 
    IS_DEL, CREATE_TIME, CREATE_USER_ID, UPDATE_TIME, UPDATE_USER_ID, TIMESTAMP
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cd_loginfo
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cd_loginfo
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qdingnet.pcloud.entity.billing.LogInfo" >
    insert into cd_loginfo (ID, ACTION, PAYMENT, 
      CLIENT_CHILD_ID, PRODUCT_INSTANCE_ID, STATE, 
      ORDER_ID, VERSION_NUM, IS_DEL, 
      CREATE_TIME, CREATE_USER_ID, UPDATE_TIME, 
      UPDATE_USER_ID, TIMESTAMP)
    values (#{id,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, #{payment,jdbcType=REAL}, 
      #{clientChildId,jdbcType=VARCHAR}, #{productInstanceId,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{orderId,jdbcType=VARCHAR}, #{versionNum,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=VARCHAR}, #{timestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qdingnet.pcloud.entity.billing.LogInfo" >
    insert into cd_loginfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="action != null" >
        ACTION,
      </if>
      <if test="payment != null" >
        PAYMENT,
      </if>
      <if test="clientChildId != null" >
        CLIENT_CHILD_ID,
      </if>
      <if test="productInstanceId != null" >
        PRODUCT_INSTANCE_ID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="versionNum != null" >
        VERSION_NUM,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="timestamp != null" >
        TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=REAL},
      </if>
      <if test="clientChildId != null" >
        #{clientChildId,jdbcType=VARCHAR},
      </if>
      <if test="productInstanceId != null" >
        #{productInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="versionNum != null" >
        #{versionNum,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdingnet.pcloud.entity.billing.LogInfo" >
    update cd_loginfo
    <set >
      <if test="action != null" >
        ACTION = #{action,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        PAYMENT = #{payment,jdbcType=REAL},
      </if>
      <if test="clientChildId != null" >
        CLIENT_CHILD_ID = #{clientChildId,jdbcType=VARCHAR},
      </if>
      <if test="productInstanceId != null" >
        PRODUCT_INSTANCE_ID = #{productInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="versionNum != null" >
        VERSION_NUM = #{versionNum,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        TIMESTAMP = #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdingnet.pcloud.entity.billing.LogInfo" >
    update cd_loginfo
    set ACTION = #{action,jdbcType=VARCHAR},
      PAYMENT = #{payment,jdbcType=REAL},
      CLIENT_CHILD_ID = #{clientChildId,jdbcType=VARCHAR},
      PRODUCT_INSTANCE_ID = #{productInstanceId,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=INTEGER},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      VERSION_NUM = #{versionNum,jdbcType=INTEGER},
      IS_DEL = #{isDel,jdbcType=TINYINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      TIMESTAMP = #{timestamp,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>